body{
  margin: 20px;
  padding: 0;
  background-color: greenyellow;
}

.wrapper-page {
  background-color: grey;
  width: 1440px;
  height: 6000px;
  margin: 0 auto;
  @media (max-width: 1440px)
  {width: 100%;}
  .wrapper-top {
    background-color: red;    
    height: 100%;
    margin: 0 auto;
    max-height: 838px;
    width: 100%;
   }

}
.header{  
  height: 83px;
  width: 100%;
  background-color: rgb(30, 142, 149);
}

.main-container {
  height: 755px;
  width: 100%;
  background-color: rgb(5, 8, 1);
  position: relative;
  display: flex;
}


.main-left { 
 flex-basis: 82px;
  background-color: rgb(88, 33, 72);
  margin: 0 0 48px 0px;
}

.main-right{
  flex-grow: 1;
  background-color: rgb(143, 114, 135);
  margin: 0 0 48px 0px;
}

.scroll-down {
  background-color: #00BCD4;
  position: absolute;
  height: 97px;
  width: 247px;
  bottom: 0;
  @media (max-width: 1200px){
    display: none;
  }

}

.wrapper-slider{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: darkgoldenrod;
}

.container-slider {
  display: grid;
  grid-template-columns: 1fr 850px;
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  justify-items: stretch;
  align-items: stretch;
  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
  }
}

.box {
  padding: 1em;
  background-color: rgb(167, 88, 241);
}

.container-img {   
  background-color: cornflowerblue;
  margin: 0 auto; 
  width: 850px;   
  overflow: hidden;
  display: flex;
}

.container-img {
  grid-column: 2;
  grid-row: 1/5; 
  @media (max-width: 679px) {
    width: 100%;   
  }
  @media (max-width: 1200px) {
    width: 679px;
    grid-column: 1;
    grid-row: 3;
  }
  @media (max-width: 679px) {
    width: 100%;   
  }
} 

.divImg1 {
  float: left;
  height: 482px;
  width: 679px;
  margin: 0px 22px 0 0;
  background-color: greenyellow;
  @media (max-width: 679px) {
    height: 100%;
    width: 100%;
    margin: 0;
  }
}

.img1 {
  @media (max-width: 679px) {
  width: 100%;
  height: 100%;
  }   
}

.divImg2 {
  float: left;
  height: 482px;
  background-color: rgb(161, 206, 94);
  @media (max-width: 1200px) {
     display: none;
    }
  }

  .wrapper-video {
    width: 817px;
    margin: 0 auto;
    background-color: hotpink;
    @media (max-width: 817px) {
      width: 100%;
     } 
    
  }

  .video-title .video {
    margin: 0 auto;
  }

  .video-title {
    text-align: center;
  }

  .video {
    transform: translateY(35%);
    img {
      width: 100%;
     }
  }

 .wrapper-form {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(55, 123, 149);
  height: 500px;
    .container-form {
      width: 100%;
      max-width: 817px;
      background-color: rgb(212, 238, 174);
      margin: 0 auto;
      min-height: 100px;
    }
    

 }



 .form-text {

 }

